h1 {
    font-style: bold;
    color: blue;
    font-size: large;
    width: 90%;

}

.title {
    font-size: medium;
    color: red;
}

.items {
    color: green;
    border: 2px solid orange;
    width: 50%;
    height: 60px;
    background-color: gray;
    
}


main {
  
    padding-top: 20px;
    padding-bottom: 20px;
    width: 49%;
}

.entry {
float: left;
display: inline;
background-color: yellow;
border: 2px solid black;
}