h2 {    /* format for major section titles */
    font-style: bold;
    color: blue;
    font-size: large;
    text-align: center;
    background-color: aquamarine;
    border: 3px solid purple;
    

}

.entry {    /* element formatting for each storage section */ 
float: left;
display: inline;
background-color: yellow;
border: 2px solid black;
width: 30%;
margin: auto;
margin-inline: 10px;
}

.title {    /* text formatting for each storage section */
    font-size: medium;
    color: red;
    align-items: center;
    padding: 10px;
    text-align: center;

}

.items {    /* text and element formatting for list of inidividual items */
    color: greenyellow;
    border: 2px solid orange;
    width: 40%;
    height: 160px;
    background-color: gray;
    margin: auto;
    margin-bottom: 20px;
    padding-top: auto;
    padding-bottom: auto;
    
}

img {   /* ensures images stay in line with rest of list */
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;

}

article{        /* positioning of major sections */
  
    padding-top: 20px;
    padding-bottom: 20px;
    width: 49%;
    
}

.pantry{    /* ensures pantry section stays at top of page */
    position:absolute;
    
}

.freezer{   /* ensures freezer section appears below pantry */
    position: relative;
    top: 300px;

}
.name{
    text-align: center;
    color:blueviolet;
}